@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Allura&family=Orbitron:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#title, #flag1, #flag2, #city, #cloud, #mount {
  transition: transform 0.3s ease-out;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 5%;
  position: absolute;
  width: 100%;
  z-index: 100;
}

header h1 {
  font-size: 60px;
  color: white;
}
header nav {
  display: flex;
  gap: 30px;
}
header nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 99px;
  transition: 0.4s;
  color: white;
}
header nav a.login {
  background: #43556e;
}
header nav a.login:hover {
  background: #6681a7;
}
header nav a:hover {
  background: #43556e;
}
header nav a:hover > a:not(:hover) {
  background: none;
}

@media screen and (max-width: 1024px) {
  header {
    height: 100px;
    padding: 0 3%;
  }

  header h1 {
    font-size: 40px;
  }
  header nav {
    gap: 20px;
  }
  header nav a {
    font-size: 16px;
    padding: 8px 12px;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 80px;
    padding: 0 2%;
    justify-content: center;
    flex-wrap: wrap;
  }
  header nav a {
    font-size: 50%;
  }
  header h1 {
    font-size: 30px;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.home {
  display: flex;
  height: 100dvh;
  background: linear-gradient(to top,#a1e1dc, #86a8db);
  position: relative;
  overflow: hidden;
}

.home img {
  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none;
}
.home .cloud {
  padding-bottom: 57dvh;
}
.home .title-porto {
  position: absolute;
  font-family: "allura";
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 160px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 768px) {
  .home img {
    left: -50%;
    width: 280%;
  }
  .home .cloud{
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .home .title {
    margin-top: 30px;
    font-size: 120px;
  }
}

.road {
  display: flex;
  height: 40%;
  background: #99153f;
  position: relative;
  overflow: hidden;
}

.road img {
  position: absolute;
  top: 0;
  height: 30%;
  width: 100%;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .road img {
    left: -50%;
    width: 280%;
  }
}

.presentation {
  height: 140dvh;
  padding-top: 50px;
  padding-bottom: 250px;
  background: linear-gradient(to bottom, #99153f, #f5EE76);
  color: white;
  position: relative;
  z-index: 100;
  text-align: center;
  overflow: hidden;
}

.presentation h1 {
  font-size: 40px;
}
.presentation .present {
  width: 70%;
  border: solid 10px;
  border-radius: 50px;
  padding: 20px;
  background: #f55d5d;
  margin: 5%;
  margin-left: 15%;
  margin-right: 15%;
}
.presentation .summary {
  width: 100%;
  border: solid 10px;
  border-radius: 100px;
  padding: 20px;
  background: #f98585;
}
.presentation .summary .column {
  column-count: 3;
  column-gap: 20px;
  padding: 2%;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  gap: 8%;
}
.presentation .summary .column .elements p {
  text-align: center;
}
.presentation .summary .column .elements a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  .presentation .present {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  .presentation h1 {
    font-size: 150%;
  }
  .presentation p {
    font-size: 60%;
  }
  .presentation .summary h2{
    margin-top: 15px;
    font-size: 150%;
  }
  .presentation .present .summary .column {
    display: flex;
    flex-direction: column;
  }
}

.profiles {
  display: flex;
  color: black;
  overflow: hidden;
  height: auto;
}

.profiles .beach {
  width: 100%;
  pointer-events: none;
  height: auto;
}
.profiles .title {
  font-size: 60px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 0;
  padding-top: 40px;
}
.profiles .title_text {
  font-size: 25px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 0;
  padding-top: 150px;
  text-align: center;
}
.profiles .column {
  margin-top: 30%;
  position: absolute;
  padding: 20% 3% 0 3%;
  z-index: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
.profiles .column * {
  width: 15%;
  margin: 0 2% 0 2%;
}
.profiles .column img {
  width: 150px;
  border: solid 7px rgb(180, 146, 47);
  border-radius: 75px;
}
.profiles .column h1 {
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
  width: 130%;
  margin-left: -15%;
}
.profiles .column p {
  margin-top: 20px;
  width: 100%;
  font-size: 12px;
}

.wine {
  display: flex;
  height: 160dvh;
  background: linear-gradient(to top, #361313, #69C6DD);
  position: relative;
  overflow: hidden;
  color: white;
  flex-direction: column;
  align-items: center;
}

.wine h1 {
  font-size: 80px;
  margin-top: 10dvh;
  margin-bottom: 10dvh;
}
.wine button {
  width: 400px;
  height: 100px;
  border: none;
  border-radius: 50px;
  background: white;
  color: black;
  font-size: 40px;
}
.wine button:hover {
  filter: drop-shadow(10px 7px 10px #000);
  transition: 0.3s;
}
.wine p {
  margin-top: 10dvh;
  width: 80%;
  border: solid 5px #a8ccdd;
  border-radius: 25px;
  padding: 20px;
  font-size: 18px;
  padding: 40px;
}

.it {
  display: flex;
  height: 200%;
  background: linear-gradient(to top, #000000, #361313);
  position: relative;
  overflow: hidden;
  color: white;
}

.it .h1 {
  position: absolute;
  top: 5%;
  width: 100%;
  text-align: center;
  font-size: 50px;
  filter: drop-shadow(10px 7px 10px rgb(248, 0, 0));
}
.it h1 {
  position: absolute;
  top: 5%;
  width: 100%;
  text-align: center;
}
.it h2 {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  font-size: 30px;
  filter: drop-shadow(10px 7px 10px rgb(248, 0, 0));
}
.it .html {
  position: absolute;
  height: 50%;
  top: 20%;
  left: 20%;
}
.it .html img:hover{
  filter: drop-shadow(-10px -7px 10px orange);
  transition: 0.3s;
}
.it .html h1 {
  margin-top: 110%;
  color: orange;
}
.it .css {
  position: absolute;
  height: 50%;
  top: 20%;
  right: 20%;
}
.it .css img:hover {
  filter: drop-shadow(10px -7px 10px blue);
  transition: 0.3s;
}
.it .css h1 {
  color: blue;
  margin-top: 110%;
}
.it .js {
  position: absolute;
  height: 50%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
}
.it .js img:hover {
  filter: drop-shadow(0px 10px 10px yellow);
  transition: 0.3s;
}
.it .js h1 {
  color: yellow;
  margin-top: 110%;
}
.it .projects {
  position: absolute;
  height: 50%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.it .projects img:hover {
  filter: drop-shadow(10px 7px 10px white);
  transition: 0.3s;
}
.it .projects h1 {
  color: white;
  margin-top: 110%;
}
.it .code1 {
  border: rgb(126, 33, 33) solid 10px;
  border-radius: 40px;
  position: absolute;
  height: 30%;
  top : 70%;
  left: -75px;
  transform: translate(0, -60%);
}
.it .code2 {
  border: rgb(126, 33, 33) solid 10px;
  border-radius: 40px;
  position: absolute;
  height: 35%;
  top : 65%;
  right: -70px;
  transform: translate(0, -65%);
}

.conclusion {
  display: flex;
  height: 80dvh;
  background-color: black;
  position: relative;
  overflow: hidden;
  color: white;
}

.conclusion .ipi {
  width: 42.5%;
  height: 50dvh;
  text-align: center;
  margin-left: 5%;
  margin-right: 2.5%;
  border: rgb(126, 33, 33) solid 10px;
  border-radius: 50px;
  margin-top: 10dvh;
  font-size: 22px;
  padding-top: 10dvh;
}
.conclusion .ipi img {
  margin-bottom: 50px;
  height: 120px;
}
.conclusion .ipi p {
  margin-top: 5px;
  font-size: 30px;
}
.conclusion .thanks {
  width: 42.5%;
  height: 50dvh;
  text-align: center;
  margin-left: 2.5%;
  margin-right: 5%;
  border: rgb(126, 33, 33) solid 10px;
  border-radius: 50px;
  margin-top: 10dvh;
  font-size: 18px;
  padding: 12dvh 20px 5% 20px;
}
.conclusion .thanks h1 {
  margin-top: 0px;
  font-size: 50px;
  margin-bottom: 5%;
}
.conclusion .thanks p {
  font-size: 20px;
  padding: 0 20px;
}

.copyright {
  display: flex;
  height: 10%;
  background-color: black;
  position: relative;
  overflow: hidden;
  color: white;
}

.copyright p {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .conclusion .ipi {
    width: 46%;
    height: 70%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    border: rgb(126, 33, 33) solid 5px;
    border-radius: 25px;
    font-size: 10px;
  }
  .conclusion .ipi img {
    margin-top: 30%;
    width: 60%;
    margin-bottom: 10px;
  }
  .conclusion .thanks {
    width: 46%;
    height: 70%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    border: rgb(126, 33, 33) solid 5px;
    border-radius: 25px;
    padding: 6%;
    font-size: 10px;
  }
  .conclusion .thanks h1 {
    margin-top: 60px;
    font-size: 20px;
  }
  
  .copyright {
    display: flex;
    height: 10%;
    background-color: black;
    position: relative;
    overflow: hidden;
    color: white;
  }
  
  .copyright p {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 20px;
  }
}