* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: relative;
    width: 90%;
    z-index: 100;
    margin-left: 40px;
}

header h1 {
    font-size: 60px;
    text-align: center;
    color: black;
}
header nav {
  display: flex;
  gap: 30px;
}
header nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 99px;
  transition: 0.4s;
  color: rgb(0, 0, 0);
}
header nav a.login {
  background: #08042c;
}
header nav a.login:hover {
  background: #5247b9;
}
header nav a:hover {
  background: #5247b9;
}
header nav a:hover > a:not(:hover) {
  background: none;
}

.summary {
    height: calc(100dvh - 100px);
}