@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Allura&family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 0 5%;
    position: absolute;
    width: 100%;
    z-index: 100;
}
header h1 {
    font-size: 60px;
    color: white;
}
header nav {
    display: flex;
    gap: 30px;
}
header nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 99px;
    transition: 0.4s;
    color: white;
}

header nav a.login {
    background: #08042c;
}

header nav a.login:hover {
    background: #5247B9;
}

header nav a:hover {
    background: #5247B9;
}
header nav a:hover > a:not(:hover) {
    background: none;
}

.home {
    display: flex;
    height: 110dvh;
    background: linear-gradient(to top, #D2E2FB 30%, #86A8DB);
    position: relative;
    overflow: hidden;
}

.home img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.home .title {
    position: absolute;
    font-family: 'allura';
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 160px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.presentation {
    padding-top: 250px;
    padding-bottom: 250px;
    background: linear-gradient(to bottom, #3B3291, #1770b9);
    color: white;
    position: relative;
    z-index: 100;
    text-align: center;
    overflow: hidden;
}

.presentation h1 {
    font-size: 40px;
}

.presentation .present {
    width: 70%;
    border: solid 10px;
    border-radius: 50px;
    padding: 20px;
    background: #675ccf;
    margin: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

.presentation .summary {
    width: 96%;
    border: solid 10px;
    border-radius: 200px;
    padding: 20px;
    background: #958ceb;
    margin: 2%;
}

.presentation .summary .column {
    column-count: 3;
    column-gap: 20px;
    padding: 2%;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    gap: 8%;

}

.presentation .summary .column .elements p {
    text-align: center;
}

.presentation .summary .column .elements a {
    text-decoration: none;
    color: white;
}

.profiles {
    padding-top: 250px;
    padding-bottom: 250px;
    background: linear-gradient(to bottom, #1770b9, #000000);
    color: white;
    position: relative;
    z-index: 100;
    text-align: center;
    overflow: hidden;
    height: 150dvh;
}

.profiles h1 {
    font-size: 80px;
}

.profiles .column {
    position: absolute;
    margin-top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 70%;
}

.profiles .column .column-1 {
    position: absolute;
    width: 20%;
    left: 10%;
}

.profiles .column .column-2 {
    position: absolute;
    width: 20%;
    left: 25%;
    margin-top: 20%;
    transform: translate(-25%, 0%);
}

.profiles .column .column-3 {
    position: absolute;
    width: 20%;
    left: 40%;
}

.profiles .column .column-4 {
    position: absolute;
    width: 20%;
    left: 75%;
    margin-top: 20%;
    transform: translate(-75%, 0%);
}

.profiles .column .column-5  {
    position: absolute;
    width: 20%;
    left: 70%;
}

.it {
    padding: 50px;
    background: #000000;
    color: white;
    position: relative;
    z-index: 100;
    text-align: center;
    height: 120dvh;
    overflow: hidden;
}

.it h1 {
    font-size: 60px;
    font-family: 'orbitron';
}

.it h2 {
    font-size: 80px;
    font-family: 'orbitron';
}

.it .html-img {
    width: 12.04%;
    position: absolute;
    left: 30%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.it .css-img {
    width: 12%;
    position: absolute;
    left: 70%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.it .js-img {
    width: 12.4%;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}


.it .code1 {
    border: solid #000000;
    border-radius: 20px;
    width: 15%;
    position: absolute;
    left: -2%;
    top: 42%;
}


.it .code2 {
    border: solid #000000;
    border-radius: 20px;
    width: 18%;
    position: absolute;
    right: -2%;
    top: 8%;
}

.conclusion {
    background: linear-gradient(to bottom, #000000, #ac0000);
    height: 700px;
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;
    display: flex;
}

.conclusion .ipi {
    margin-left: 20%;
    margin-right: 5%;
    width: 30%;
    height: 60%;
    background: rgb(114, 114, 114);;
    border: 10px solid #7e2222;
    border-radius: 20px;
    padding: 3%;
}

.conclusion .thanks {
    margin-right: 20%;
    margin-left: 5%;
    width: 30%;
    height: 60%;
    background: rgb(114, 114, 114);
    border: 10px solid #7e2222;
    border-radius: 20px;
    padding: 3%;
}

.conclusion .ipi h1 {
    margin-top: -5%;
    font-size: 60px;
    margin-bottom: 7%;
}

.conclusion .ipi p {
    margin-top: 5%;
    font-size: 22px;
}

.conclusion .thanks h1 {
    margin-top: -12%;
    font-size: 60px;
}

.conclusion .thanks p {
    font-size: 20px;
}

.copyright {
    background: linear-gradient(to top, #000000, #ac0000);
    height: 100px;
    color: white;
    text-align: center;
}